.deaddove-modal-wrapper {
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.deaddove-modal {
    display: none; /* Hide by default, shown by JavaScript */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    border-radius: 10px; 
    max-width: calc(100% - 40px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.deaddove-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 100%;
}

.deaddove-blur {
    filter: blur(8px);
}
.widget.widget_custom_user_widget{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
}
.deaddove-block-description {
    filter: blur(5px);  
    user-select: none !important;  
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    /* pointer-events: none;   */
}

.deaddove-blog-warning{
    filter: blur(5px);  
    user-select: none !important; 
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    /* pointer-events: none;   */
}
.deaddove-media-warning{
    filter: blur(5px);  
    user-select: none !important; 
    -webkit-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none; 
}